.header {
  display: flex;
  align-items: center;
}

.header img {
  max-height: 5.8rem;
}

.header__title {
  margin-left: 2rem;
  font-size: 3.2rem;
}

.header__title span {
  color: var(--color-main-blue);
}

@media only screen and (max-width: 44em) {
  .header__title {
    margin-left: 2rem;
    font-size: 2.6rem;
  }

  .header img {
    max-height: 5rem;
  }
}
