.main {
  flex: 1 0 70%;
  padding: var(--padding-l);
}

.sidebar {
  flex: 1 0 30%;
  min-width: 38rem;
  background-color: var(--color-white);
  padding: var(--padding-l);
}

@media only screen and (max-width: 44em) {
  .main {
    padding: var(--padding-m);
  }

  .sidebar {
    flex-basis: 100%;
    min-width: auto;
    padding: var(--padding-m);
  }
}
