@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --color-main-blue: #7a97ff;
  --color-light-blue: #e4eaff;
  --color-light-blue-2: #f3f5ff;
  --color-dark-text-grey: #333;
  --color-light-text-grey: #787878;
  --color-white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  color: var(--color-dark-text-grey);
}

body {
  background-color: var(--color-light-blue-2);
  font-size: 1.6rem;
}

#root {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

button,
input {
  border: none;
  font-family: inherit;
  outline: none;
}

h3,
h4,
h5 {
  font-weight: 600;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

h5 {
  font-size: 1.4rem;
}
