.card {
  border-radius: 1rem;
  overflow: hidden;
}

.card--half {
  flex: 1 0 46%;
  min-width: 30rem;
}

.card--full {
  flex: 1 0 100%;
}

.card--blue {
  background-color: var(--color-main-blue);
  color: var(--color-white);
  text-align: center;
}

.card--light-blue {
  background-color: var(--color-light-blue-2);
}

.card--white {
  background-color: var(--color-white);
}

.card--padding-small {
  padding: 1.4rem;
}

.card--padding-medium {
  padding: 2rem;
}
