.card {
  border-radius: 1rem;
  overflow: hidden;
  padding: var(--padding-s);
}

.card--half {
  flex: 0 0 calc(50% - 1rem);
  min-width: 30rem;
}

.card--full {
  flex: 1 0 100%;
}

.card--blue {
  background-color: var(--color-main-blue);
  color: var(--color-white);
  text-align: center;
  padding: var(--padding-xs);
}

.card--light-blue {
  background-color: var(--color-light-blue-2);
}

.card--white {
  background-color: var(--color-white);
}

@media only screen and (max-width: 44em) {
  .card {
    padding: var(--padding-xs);
  }

  .card--half {
    flex-basis: 100%;
    min-width: auto;
  }
}
