.input-group {
  width: 100%;
}

.input-group__label {
  color: var(--color-main-blue);
  font-weight: 500;
  width: 100%;
  display: block;
  margin-bottom: 0.4rem;
}

.input-group__input {
  background-color: transparent;
  width: 100%;
  color: var(--color-light-text-grey);
}
