.input-group {
  width: 100%;
}

.input-group__label {
  color: var(--color-main-blue);
  font-weight: 500;
  width: 100%;
  display: block;
  margin-bottom: 0.4rem;
}

.input-group__input {
  background-color: transparent;
  width: 100%;
  color: var(--color-dark-text-grey);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-dark-text-grey);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--color-dark-text-grey);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--color-dark-text-grey);
}
